<div class="container-fluid" [formGroup]="contactRecordModel" *ngIf="contactRecordModel">
  <h4>{{'heading.contactDetails'| translate}}&nbsp;{{sequenceNum}}</h4>
  <lib-error-summary *ngIf="showErrorSummary()" [hiddenSummary]="showErrorSummary()"
                 [errorList]="errorList" headingPreamble="heading.contactRecord"
                 [headingLevel]="headingLevel" label="Company Representative Record(s)" compId="contactRec"></lib-error-summary>  
  <contact-details [showErrors]="showErrors" [isInternal]="isInternal" [languageList]="languageList"  [contactStatusList]="contactStatusList" [lang]="lang"
                   [detailsChanged]="updateChild" [group]="contactDetailsFormGroup"
                   [helpTextSequences]="helpTextSequences" [editable]="editable"
                   (errorList)="updateErrorList($event)"></contact-details>

  <div class="row">
    <div class="btn-group-sm col-xs-12 text-left">
      <ng-container *ngIf="editable">
        <button *ngIf="isExternalNewContact()" class="btn btn-primary" (click)="saveContactRecord2()" >a {{'save.contact'|translate}}</button>&nbsp;
        <button *ngIf="isInternalActiveContact()" class="btn btn-default" (click)="activeContactRecord()" >b {{'set.active.status'|translate}}</button>&nbsp;
        <button *ngIf="isExternalNotNewContact()" class="btn btn-default" (click)="setStatusToRevise()" [disabled]="showErrorSummary()" >c {{'set.revise.status'|translate}}</button>
        <!-- <button *ngIf="isInternalDeleteContact()" class="btn btn-danger" (click)="deleteContactRecord()" >d {{'remove.contact'|translate}}</button>&nbsp; -->
        <button *ngIf="isExternalNotNewContact()" class="btn btn-default" (click)="setStatusToRemove()" [disabled]="showErrorSummary()" >e {{'set.remove.status'|translate}}</button>
        <button *ngIf="isExternalNewContact()" class="btn btn-danger" (click)="deleteContactRecord()" >f {{'discard.record'|translate}}</button>
        <span   *ngIf="!isInternal">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button class="btn btn-default" (click)="revertContactRecord()" >g {{'discard.changes'|translate}}</button>
      </ng-container>
      
      <ng-container *ngIf="!editable">
        <button class="btn btn-default" (click)="onEditClick(contactRecordModel.controls['id'].value)">1 Edit</button>&nbsp;
        <button *ngIf="isInternalDeleteContact()" class="btn btn-danger" (click)="deleteContactRecord()" >2 {{'remove.contact'|translate}}</button>&nbsp;
        <button *ngIf="isExternalNewContact()" class="btn btn-danger" (click)="deleteContactRecord()" >3 {{'discard.record'|translate}}</button>
      </ng-container>
    </div>
  </div>

  <!--<div class="row" *ngIf="contactRecordModel.dirty">-->
    <!--<div class="col-xs-7 form-group">-->
      <!--<div class="alert alert-info" role="alert"-->
           <!--aria-live="polite">-->
        <!--<span>{{'common.saveRevert'|translate}}</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<hr class="brdr-bttm">
  <pre>***{{contactRecordModel.value |json}}</pre>
</div>
