<h1 *ngIf="isAddMode">Add {{'heading.contactDetails'| translate}}&nbsp;</h1>
<h1 *ngIf="!isAddMode">Edit {{'heading.contactDetails'| translate}}&nbsp; todo sequenceNum</h1>
<pre>isInternal: {{isInternal}}</pre>


    <!-- <contact-details [showErrors]="showErrors" [isInternal]="isInternal" [languageList]="languageList"  [contactStatusList]="contactStatusList" [lang]="lang"
                   [detailsChanged]="updateChild" [group]="contactDetailsFormGroup"
                   [helpTextSequences]="helpTextSequences" [editable] = false
                   (errorList)="updateErrorList($event)"></contact-details> -->

      <contact-details [editable] = true 
        [isInternal]="isInternal" [languageList]="languageList" [contactStatusList]="contactStatusList" [lang]="lang" [helpTextSequences]="helpTextSequences">
      </contact-details>


    
